#middle{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;


    #grid{
        width: 50%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;

        #uiux, #infos, #plus, #responsive{
            width: 50%;
            height: 50%;
            color: white;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: 6.5%;
        }

        #uiux, #responsive{
            background-color: #222222;
            text-overflow: ellipsis;
            h2{
                text-transform: uppercase;
                font-family: $fontTitle;
                text-overflow: ellipsis;

            }

            hr{
                width: 10%;
            }

            .sub{
                font-family: $fontText;
                font-size: 0.9rem;
            }
            .content{
                font-family: $fontTitle;
            }

        }

        #infos, #plus{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            
        }

        #infos{
            background-image: url('../images/glass-img.png');
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: space-between;
                border: 2px solid white;
                font-family: $fontTitle;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1.4rem;

                p{
                    width: 100%;
                    height: 65%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 25px;
                }

                .flex{
                    width:100%;
                    height: 35%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-top: 2px solid white;

                    div{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        #plus{
            background-image: url('../images/road-img.png');
            justify-content: space-between;
            p{
                text-align: center;
                font-size: 1.4rem;
                font-style: italic;
            }

            button{
                background-color: rgba(0,0,0, 0);
                width: 100%;
                height: 35%;
                border: 2px solid $colorMain;
                color:$colorMain;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $fontTitle;
                font-size: 1.2rem;
            }
        }
    }

}